
@-webkit-keyframes circle {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(359deg);}
}
@keyframes circle {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(359deg);}
}
#start-loading.loading, .image-loading {
    border:5px solid #ccc;
    border-radius:50%;
    -webkit-border-radius:50%;
    border-left-color:#ffe326;
    -moz-animation: circle 1s infinite linear;
    -o-animation: circle 1s infinite linear;
    -webkit-animation: circle 1s infinite linear;
    animation: circle 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}

html,body{
	background-color: #E7E7E7;
}

@-webkit-keyframes popup {
    0% {-webkit-transform: translateY(-100%);}
    40% {-webkit-transform: translateY(0);}
    60% {-webkit-transform: translateY(-6%);}
    80% {-webkit-transform: translateY(0);}
    90% {-webkit-transform: translateY(-1%);}
    100% {-webkit-transform: translateY(0);}
}
#popup {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#popup.drop-down {
	/*-webkit-transform: translateY(0);*/
    -webkit-animation: popup 1s ease-in-out;
}
#popup.collapse {
	/*-webkit-transform: translateY(-100%);*/
}

#drag-up {
	/*display: none;*/
	position: absolute;
	left: 0;
	top: -60px;
	width: 100%;
	height: 120px;
	/*z-index: -1;*/
	color: #9f7607;
	padding: 20px;
	text-align: left;
	background-color: #E7E7E7;
}
#drag-up img {
	position: absolute;
	left: 20px;
	top: 20px;
}
#drag-up span {
	margin-left: 50px;
}
#drag-up.loading img{
    -webkit-animation: circle 1s infinite linear;
    animation: circle 1s infinite linear;
}

#app .app-button-back {
	background-color: rgb(255,241,33);
	color: #9f7607;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	height: 36px;
	line-height: 36px;
}

#main-view {
	z-index: 0;
	display: none;
}

/*#checkin-icon {
	display: block;
	width: 135px;
	height: 46px;
	background: url(http://gtms01.alicdn.com/tps/i1/T1UoHUFCFXXXb9ynvx-270-92.png) no-repeat;
	background-size: 135px 46px;
	position: absolute;
	right: 0;
	top: -15px;
}
#hasCheckin {
	display: none;
	width: 85px;
	height: 20px;
	background-color: #f9584d;
	position: absolute;
	right: 46px;
	top: 16px;
	font-size: 12px;
	color: #fff;
	text-align: center;
}*/

.border-area {
    background-color: #f3f3f3;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.border-bottom {
    border-bottom: 1px solid #dbdada;
}
.border-top {
    border-top: 1px solid #dbdada;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (-webkit-min-device-pixel-ratio:1.5),
       only screen and (min-resolution: 240dpi),
       only screen and (min-resolution: 2dppx)
{
	#hot-class, #recommend {
		margin-top: 1px;
	}
	.border {
		border: none;
		/*background-image: linear-gradient(180deg, #dbdada, #dbdada 50%, #fff 50%);
		background-size: 100% 1px;
		background-repeat: no-repeat;*/
	}
	.border:after {
		position: absolute;
		content: "";
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0;
	}
	.border-bottom:after {
		top: 100%;
		left: 0;
		width: 200%;
		height: 1px;
    	border-bottom: 1px solid #dbdada;
	}
	.border-top:after {
		/*background-position: top;*/
		top: 0;
		left: 0;
		width: 200%;
		height: 1px;
    	border-top: 1px solid #dbdada;
	}
	.border-left:after {
		top: 0;
		left: 0;
		width: 1px;
		height: 200%;
    	border-top: 1px solid #dbdada;
	}
	.border-right:after {
		top: 0;
		left: 100%;
		width: 1px;
		height: 200%;
    	border-top: 1px solid #dbdada;
	}
}

.section {
    opacity: 0;
    -webkit-transition: opacity .2s ease;
}
#banner {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: #f3f3f3;
	border: none;
	padding: 6px 10px 0;
}
#banner-slider {
	width: 100%;
}

#banner .banner-item {
/*	float: left;
	width: 33.3%;
*/	height: 100%;
	position: relative;
} 
#banner img{
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* #banner .arrow{
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index: 5;
} */
#banner .banner-arrow-list{
	position: absolute;
	bottom: 4px;
	left: 50%;
	margin-left: -25px;
	/*width: 50px;*/
	/*margin: 0 auto;*/
	list-style: none;
}
#banner .banner-arrow-list li{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	text-indent: -999px;
	background-color: #bfddfe;
	border-radius: 5px;
}
#banner .banner-arrow-list .active{
	background: #1996fc;
}

#smallBanner {
	padding: 8px 10px 0;
	background-color: #f3f3f3;
}
#smallBanner .banner-item {
	position: relative;
	float: left;
	height: 100%;
}
#smallBanner .banner-item:last-child {
	float: right;
}
#smallBanner img {
	width: 100%;
	height: 100%;
}

#recommend-title {
	position: relative;
	height: 40px;
	border-top: none;
}
#recommend-title .more {
	color: #1cb2c1;
	font-size: 16px;
	position: absolute;
	right: 10px;
	top: 10px;
}

#recommend{
	min-height: 400px;
	background: #fff;
	position: relative;
}
#recommend .more{
	color: #1cb2c1;
	font-size: 16px;
	position: absolute;
	right: 10px;
	top:10px
}
#recommend li {
	position: relative;
	padding: 10px;
}
#recommend li:last-child {
	/*border-bottom: none;*/
}
#recommend li .img {
	width: 35px;
	height: 35px;
}
#recommend li.feed .img {
	border: 0;
	width: 60px;
	height: 60px;
	opacity: 0;
    -webkit-transition: opacity .2s ease;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#recommend .video, #recommend .audio {
	position: absolute;
    left: 40px;
    top: 50%;
    width: 34px;
    height: 34px;
    margin-top: -17px;
    margin-left: -17px;
	background-repeat: no-repeat;
	background-size: 34px 34px;
}
#recommend .video {
	background-image: url(http://gtms01.alicdn.com/tps/i1/TB106x4FpXXXXXMcFXXCCuUIpXX-68-68.png);
}
#recommend .audio {
	background-image: url(http://gtms02.alicdn.com/tps/i2/TB1Mn7YFFXXXXbXXXXXCCuUIpXX-68-68.png);
}
#recommend li.feed .image-loading {
	left: 40px;
}
#recommend li .recommend-detail{
	float: right;
	width: 85%;
}
#recommend li.feed .recommend-detail {
	width: 76%;
}
#recommend li.feed .no-pic {
	float: none;
	width: 100%;
}
#recommend li .multiPics {
	float: none;
	width: 100%;
}
#recommend li .multiPics .pics-box {
	height: 70px;
	position: relative;
	margin: 3px 0;
}
#recommend li .multiPics img {
	width: 70px;
	height: 100%;
	margin-right: 5px;
	/*float: left;*/
	position: relative;
}
#recommend li .info{
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#recommend li .info span {
	color: #1394bf;
}
#recommend li p {
	padding: 1px 0;
}
#recommend .summary{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#recommend .feed .summary {
    white-space: normal;
	height: 34px;
	margin-bottom: 6px;
}
#recommend .recommend-list {
	opacity: 0;
	min-height: 200px;
    -webkit-transition: opacity .5s ease;
}

#hot-class .border-area {
	position: relative;
	height: 90px;
}
#hot-class .button {
	width: 30%;
	height: 40px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	position: absolute;
}
#hot-class h3 {
	position: absolute;
	left: 10px;
	top: 60px;
}
#rise-top {
	left: 8px;
	background-color: #f97d19;
}
#hot-top {
	left: 35%;
	background-color: #36b5c5;
}
#event-flock {
	right: 8px;
	background-color: #7ac65b;
}

#hot-class {
	background: #fff;
	position: relative;
}
#hot-class #class-list {
	min-height: 222px;
}
#hot-class li {
	float: left;
	position: relative;
	padding: 10px;
	width: 50%;
}
#hot-class li img {
	width: 46px;
	height: 46px;
}
#hot-class li .class-detail{
	float: right;
	width: 62%;
}
#hot-class li p {
	padding: 1px 0;
}
#hot-class .info{
	color: #999999;
	font-size: 13px;
	max-height: 32px;
	overflow: hidden;
}
#hot-class .summary{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
}

.category {
    background-color: #f3f3f3;
    width: 100%;
    height: 60px;
	padding: 10px;
}
.category .button {
	background-color: #ffe123;
	color: #9f7607;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 8px;
	border: 1px solid #f3ce00;
	/*opacity: 0;
	-webkit-transition: opacity .3s ease;*/
}
